h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  padding: 0.67em 0;
  font-size: 2em;
}

h2 {
  padding: 0.83em 0;
  font-size: 1.5em;
}

h3 {
  padding: 1em 0;
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}
