.stroke-first {
  paint-order: stroke;
}

.map {
  width: 100%;
  height: 100%;

 .node-alert {
    -webkit-animation: blink 2s linear;
    -webkit-animation-iteration-count: infinite;
    animation: blink 2s linear;
    animation-iteration-count: infinite;
  }
}

@-webkit-keyframes blink {
  0%   { opacity: 1.0; }
  80%  { opacity: 1.0; }
  90%  { opacity: 0.0; }
}

@keyframes blink {
  0%   { opacity: 1.0; }
  80%  { opacity: 1.0; }
  90%  { opacity: 0.0; }
}
