.stroke-first {
  paint-order: stroke;
}

.pick-coordinates {
  cursor: crosshair;
}

.map {
  width: 100%;
  height: 100%;

  .node-alert {
    -webkit-animation: blink 2s linear;
    -webkit-animation-iteration-count: infinite;
    animation: blink 2s linear;
    animation-iteration-count: infinite;
  }

  .leaflet-top button.leaflet-control {
    margin-top: $buttondistance;
  }

  .leaflet-bottom button.leaflet-control {
    margin-bottom: $buttondistance;
  }

  .leaflet-left button.leaflet-control {
    margin-left: $buttondistance;
  }

  .leaflet-right button.leaflet-control {
    margin-right: $buttondistance;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1.0;
  }
  80% {
    opacity: 1.0;
  }
  90% {
    opacity: 0.0;
  }
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  80% {
    opacity: 1.0;
  }
  90% {
    opacity: 0.0;
  }
}
