# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Get rid of whitespace to avoid diffs with a bunch of EOL changes
trim_trailing_whitespace = true

[*.{js,html,scss,json,yml,md}]
indent_size = 2
indent_style = space


[assets/favicon/manifest.json]
indent_size = 4
