---
"extends":
  - "eslint-config-airbnb-es5"

rules:
  "no-undef": 0
  "no-console": ["warn", { allow: ["warn", "error"] }]
  "no-param-reassign": 0
  "func-names": 0
  "guard-for-in": 0
  "no-undefined": 0
  "no-nested-ternary": 0
  "no-extend-native": ["error", { "exceptions": ["String"] }]
