{
  "dataPath": "https://map.luebeck.freifunk.net/data/",
  "siteName": "Freifunk Lübeck",
  "mapSigmaScale": 0.5,
  "showContact": true,
  "maxAge": 14,
  "mapLayers": [
    {
      "name": "OpenStreetMap.HOT"
    },
    {
      "name": "Stamen.TonerLite"
    }
  ],
  "siteNames": [
    { "site": "ffhl", "name": "Lübeck" },
    { "site": "ffeh", "name": "Entenhausen" },
    { "site": "ffgt", "name": "Gothamcity" },
    { "site": "ffal", "name": "Atlantis" }
  ]
}
