define({
  "dataPath": "https://map.luebeck.freifunk.net/data/",
  "siteName": "Freifunk Lübeck",
  "mapSigmaScale": 0.5,
  "showContact": true,
  "maxAge": 14,
  "mapLayers": [
    { "name": "MapQuest",
      "url": "https://otile{s}-s.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.jpg",
      "config": {
        "subdomains": "1234",
        "type": "osm",
        "attribution": "Tiles &copy; <a href=\"https://www.mapquest.com/\" target=\"_blank\">MapQuest</a>, Data CC-BY-SA OpenStreetMap",
        "maxZoom": 18
      }
    },
    {
      "name": "Stamen.TonerLite"
    }
  ]
})
