.filters {
  display: flex;
  flex-wrap: wrap;
  font-size: .83em;
  padding: 0 8px 8px;

  li {
    align-items: center;
    background: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
    display: flex;
    margin: 4px;
    padding: 0 0 0 10px;

    label {
      cursor: pointer;
    }

    button {
      background: none;
      color: $color-gray-light;
      font-size: $font-size-small;
      height: 24px;
      margin: 3px;
      width: 24px;

      &:hover {
        color: $color-primary;
      }
    }

    &.not {
      label {
        color: $color-primary;
        text-decoration: line-through;
      }
    }
  }
}
