.leaflet-control-layers {
  background: none;
  border-radius: 0;
  box-shadow: none;
}

.leaflet-control-layers-toggle {
  background: none;

  &::before {
    color: $color-primary;
    content: '\f229';
    display: inline-block;
    font-family: $font-family-icons;
    font-size: 2.3rem;
    line-height: 1;
    speak: none;
    text-rendering: auto;
  }
}

.leaflet-control-layers-expanded {
  padding: 0;
}

.leaflet-control-layers-list {
  background: rgba($color-white, .9);
  color: $color-gray-dark;
  padding: 10px;

  label {
    cursor: pointer;
  }
}
