header {
  h1 {
    display: inline-block;
  }
}

.language-switch {
  background: transparent;
  border: 0;
  color: $color-black;
  float: right;
  margin: 20px 16px 0 0;

  option {
    background: $color-white;
  }
}

.legend {
  a {
    margin-right: 10px;
  }

  span {
    &:not(:first-child) {
      margin-left: 1em;
    }
  }
}

.symbol {
  border-radius: 50%;
  display: inline-block;
  height: 1em;
  vertical-align: -5%;
  width: 1em;
}

// Dot looks compared to thin font a bit darker - lighten it 10%
.legend-new {
  .symbol {
    background-color: lighten($color-new, 10%);
  }
}

.legend-online {
  .symbol {
    background-color: lighten($color-online, 10%);
  }
}

.legend-offline {
  .symbol {
    background-color: lighten($color-offline, 10%);
  }
}

.legend-24ghz {
  .symbol {
    background-color: $color-24ghz;
  }
}

.legend-5ghz {
  .symbol {
    background-color: $color-5ghz;
  }
}

.legend-others {
  .symbol {
    background-color: $color-others;
  }
}
