.bar {
  background: transparentize($color-new, .5);
  display: block;
  height: 1.4em;
  position: relative;

  span {
    background: transparentize($color-new, .92);
    display: inline-block;
    height: 1.4em;
  }

  label {
    color: $color-white;
    font-weight: bold;
    position: absolute;
    right: .5em;
    top: .1em;
    white-space: nowrap;
  }
}
