.sidebar {
  box-sizing: border-box;
  position: absolute;
  transition: left .5s;
  width: $sidebar-width;
  z-index: 5;

  &.hidden {
    left: -$sidebar-width - $button-distance;

    .sidebarhandle {
      left: $button-distance;
      transform: scale(-1, 1);
    }
    @media screen and (max-width: $min-screen-width) {
      width: auto;
    }
  }

  .node-list, .node-links {
    th, td {
      &:first-child {
        width: 25px;
      }

      &:nth-child(2) {
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 50%;
      }
    }
  }

  .node-links {
    th, td {
      &:first-child {
        width: 50px;
      }
    }
  }

  .link-list {
    th, td {
      &:nth-child(1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 66%;
      }
    }
  }

  .infobox, .container {
    @if $shadows == 1 {
      @include shadow(2);
    } @else {
      border-right: 1px solid darken($color-white, 10%);
    }
    background: transparentize($color-white, .03);
    min-height: 100vh;
    overflow-y: visible;
  }

  .container {
    &.hidden {
      display: none;
    }
  }

  @media screen and (max-width: 80em) {
    background: $color-white;
    font-size: .8em;
    margin: 0;
    width: $sidebar-width-small;

    .sidebarhandle {
      left: $sidebar-width-small + $button-distance;
    }

    .container, .infobox {
      border-radius: 0;
      @if $shadows == 1 {
        box-shadow: none;
      }
      margin: 0;
    }
  }

  @media screen and (max-width: $min-screen-width) {
    height: auto;
    min-height: 0;
    position: static;
    width: auto;

    .sidebarhandle {
      display: none;
    }

    .content {
      height: 60vh;
      position: relative;
      width: auto;
    }
  }
}

.sidebarhandle {
  left: $sidebar-width + 2 * $button-distance;
  position: fixed;
  top: $button-distance;
  transition: left .5s, box-shadow .5s, color .5s, transform .5s;
  z-index: 10;

  &::after {
    content: '\f124';
    padding-right: .125em;
  }
}

.online {
  color: $color-new;
}

.offline {
  color: $color-offline;
}

.unseen {
  color: $color-unseen;
}
