.tabs {
  background: transparentize($color-black, .98);
  border: 0 solid darken($color-white, 10%);
  border-bottom-width: 1px;
  display: flex;
  display: -webkit-flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    -webkit-flex: 1 1 auto;
    color: transparentize($color-black, .5);
    cursor: pointer;
    flex: 1 1 auto;
    padding: 1.3em .5em 1em;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      color: $color-black;
    }
  }

  .visible {
    border-bottom: 2px solid $color-primary;
    color: $color-primary;
  }
}
