$color-white: #fff !default;
$color-black: #000 !default;

$color-gray-light: darken($color-white, 30%) !default;
$color-gray-dark: lighten($color-black, 20%) !default;

$color-primary: #dc0067 !default;

$color-new: #459c18 !default;
$color-online: #1566a9 !default;
$color-offline: #cf3e2a !default;

$color-24ghz: $color-primary !default;
$color-5ghz: #e3a619 !default;
$color-others: #0a9c92 !default;

$color-map-background: #f8f4f0 !default;

$font-family: "Assistant", sans-serif !default;
$font-family-icons: ionicons !default;
$font-family-monospace: monospace !default;
$font-size: 15px !default;
$font-size-small: 11px !default;
$font-size-map-control: 12px !default;

$button-font-size: 1.6rem !default;
$button-distance: 16px !default;

// Bootstrap breakpoints
// In lib/sidebar to avoid render blocking onload
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
) !default;

// 45% sidebar - based on viewport
// In lib/sidebar to avoid render blocking onload
$sidebar-width: map-get($grid-breakpoints, xl) * .45 !default;
$sidebar-width-small: map-get($grid-breakpoints, lg) * .45 !default;

// En/disable included font
$use-included-font: 1 !default;
