$color-white: #fff !default;
$color-black: #000 !default;

$color-gray-light: darken($color-white, 30%) !default;
$color-gray-dark: lighten($color-black, 20%) !default;

$color-primary: #dc0067 !default;

$color-new: #459c18 !default;
$color-online: #1566a9 !default;
$color-offline: #cf3e2a !default;
$color-unseen: #d89100 !default;

$font-family: Assistant, sans-serif !default;
$font-family-icons: ionicons !default;
$font-family-monospace: monospace !default;
$font-size: 15px !default;
$font-size-small: $font-size / 1.4 !default;

$button-font-size: 1.6rem !default;
$button-distance: 16px !default;

$min-screen-width: 840px !default;
$sidebar-width: 560px !default;
$sidebar-width-small: 426px !default;

// En/disable box-shadows
$shadows: 1 !default;

// En/disable included font
$use-included-font: 1 !default;
