@font-face {
    font-family: "Ionicons";
    src: url("fonts/hopglass.woff2") format("woff2"),
    url("fonts/hopglass.woff") format("woff"),
    url("fonts/hopglass.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

[class^="ion-"]:before,
[class*=" ion-"]:before, .ion-inside {
    display: inline-block;
    font-family: "ionicons" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ion-android-add:before {
    content: "\f2c7";
}

.ion-chevron-left:before {
    content: "\f124";
}

.ion-chevron-right:before {
    content: "\f125";
}

.ion-pin:before {
    content: "\f3a3";
}

.ion-wifi:before {
    content: "\f25c";
}

.ion-eye:before {
    content: "\f133";
}

.ion-ios-arrow-thin-left:before {
    content: "\f3d5";
}

.ion-ios-arrow-thin-right:before {
    content: "\f3d6";
}

.ion-arrow-up-b:before {
    content: "\f10d";
}

.ion-arrow-down-b:before {
    content: "\f104";
}

.ion-android-locate:before {
    content: "\f2e9";
}

.ion-android-close:before {
    content: "\f2d7";
}

.ion-android-lock:before {
    content: "\f392";
}

.ion-ios-copy:before {
    content: "\f41c";
}

.ion-location:before {
    content: "\f456";
}

.ion-android-remove:before {
    content: "\f2f4";
}

.ion-ios-person:before {
    content: "\f47e";
}
